/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-primaria: #464646;
   --cor-about-bg: #EAF2FD;
   --cor-botao: #2A7AE4;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 0.80rem;
}

header{
    display: flex;
    gap: 10px;
    height: 1.5rem;
    align-items: center;
}

.menu__img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.menu__list {
    display: none;
}

/*Sessão Title*/

section.title{
    padding: 1rem;
}

.title__profile {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    object-fit: cover;
}

.title__network {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

/*Sessão About*/

section.about{
    background-color: var(--cor-about-bg);
    padding: 1rem;
}

.about__title {
    margin: 0;
}

/*Sessão Skills*/

section.skills{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.skills__title {
    display: flex;
    justify-content: center;
}

.skills__line {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.skills__box {
    display: flex;
    width: 156px;
    height: 118px;
    background-color: white;
    flex-grow: 1;
}

.skills__box ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1rem;
    gap: 8px;
    font-weight: bold;
}

/*Sessão Hobbies*/

section.hobbies{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
}

.hobbies__title {
    display: flex;
    justify-content: center;
}

.hobbies__line {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.hobbies__box {
    display: flex;
    width: 156px;
    height: 118px;
    background-color: white;
    flex-grow: 1;
}

.hobbies__box ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1rem;
    gap: 8px;
    font-weight: bold;
}

.hobbies__name {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Experiência Acadêmica*/

section.academic{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-about-bg);
    padding: 1rem 2rem;
}

.academic__title {
    display: flex;
    justify-content: center;
}

.academic__courses {
    display: flex;
    flex-wrap: wrap;
}

.academic__courses__box {
    display: flex;
    flex-grow: 1;
}

.academic__courses__list {
    padding: 0;
    width: 100%;
}

.academic__courses__item__img {
    display: flex;
    padding: 5rem 0;
    background-color: white;
    justify-content: center;
} 

/* experiência*/

section.experience{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.experience__section__title {
    display: flex;
    justify-content: center;
}

.experience__section__box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.experiencie__box {
    margin: 1rem 0;
}

.experience__img {
    display: flex;
    width: 100%;
}

.experience__description {
    display: flex;
    gap: 1rem;
}

.experiencia__botao__repo {
    padding: 0.75rem;
    color: var(--cor-botao);
    background-color: transparent;
    border-color: var(--cor-botao);
    border-style: solid;
    border-width: 1px;
}

.experiencia__botao__demo {
    padding: 0.75rem;
    color: white;
    background-color: var(--cor-botao);
    border-color: var(--cor-botao);
    border-style: solid;
    border-width: 1px;
}

.experiencia__botao__repo:disabled {
    color: gray;
    border-color: gray;
}

/*Contato*/

section.formcontato{
    display: flex;
    background-color: var(--cor-about-bg);
    padding: 1rem 2rem;
}

.formcontato__esquerda {
    display: none;
}

.formcontato__text {
    display: flex;
    flex-direction: column;
}

.formcontato__subtext {
    margin: 0;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    gap: 2rem;
}

.formcontato__input__box {
    display: flex;
    flex-direction: column; 
}

.formcontato__input {
    color: var(--cor-primaria);
    height: calc(56px - 15px);
    border-radius: 4px;
    border: none;
    padding: 15px;
    font-size: 1rem;
    box-shadow: 0px 2px lightgray;
}

.formcontato__label {
    color: gray;
    position: relative;
    left: 15px;
    top: -45px;
    width: fit-content;
    transition: 0.3s;
}

.formcontato__input:focus {
    outline: none;
    box-shadow: 0px 3px var(--cor-botao);
    padding: 0 15px;
    padding-top: 30px;
}

.formcontato__input:focus ~ label,
.formcontato__textarea:focus ~ label {
    transform: translateY(-15px);
    color: var(--cor-botao);
    font-size: 0.8rem;
}

.formcontato__input:valid {
    padding: 30px 0 0 15px;
}

.formcontato__input:valid ~ label,
.formcontato__textarea:valid ~label {
    transform: translateY(-20px);
    font-size: 0.8rem;
}

.formcontato__textarea {
    height: cal(133px - 55px);
    width: calc(100% - 2rem);
    padding: 40px 15px 15px 15px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 2px lightgray;
    resize: none;
}

.formcontato__textarea:focus {
    outline: none;
    box-shadow: 0px 3px var(--cor-botao);
}

.formcontato__label__textarea {
    color: gray;
    position: relative;
    left: 15px;
    top: -105px;
    width: fit-content;
    transition: 0.3s;
}

.formcontato__botao {
    display: flex;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    background-color: var(--cor-botao);
    border-color: var(--cor-botao);
    border-style: solid;
    border-width: 1px;
    width: fit-content;
}

/*footeer*/

section.footer{
    display: flex;
    justify-content: center;  
}

.footer__rodape p{
    display: flex;
    justify-content: center;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Desktop*/
@media (min-width: 1024px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
