/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --cor-primaria: #464646;
   --cor-about-bg: #EAF2FD;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 0.80rem;
}

header{
    display: flex;
    gap: 10px;
    height: 1.5rem;
    align-items: center;
}

.menu__img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.menu__list {
    display: none;
}

/*Sessão Title*/

section.title{
    padding: 1rem;
    text-align: justify;
}

.title__profile {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    object-fit: cover;
}

.title__network {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

/*Sessão About*/

section.about{
    background-color: var(--cor-about-bg);
    padding: 1rem;
    text-align: justify;
}

.about__title {
    margin: 0;
}

/*Sessão Skills*/

section.skills{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.skills__title {
    display: flex;
    justify-content: center;
}

.skills__line {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.skills__box {
    display: flex;
    width: 156px;
    height: 118px;
    background-color: white;
    flex-grow: 1;
}

.skills__box ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1rem;
    gap: 8px;
    font-weight: bold;
}

/*Sessão Hobbies*/

section.hobbies{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.hobbies__title {
    display: flex;
    justify-content: center;
}

.hobbies__line {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.hobbies__box {
    display: flex;
    width: 156px;
    height: 118px;
    background-color: white;
    flex-grow: 1;
}

.hobbies__box ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 1rem;
    gap: 8px;
    font-weight: bold;
}

.hobbies__name {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Experiência Acadêmica*/

section.academic{

}

/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Desktop*/
@media (min-width: 1024px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
